<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ default title company.name }}</title>

    <meta name="keywords" content="{{ website.keywords }}">
    <meta name="description" content="{{ join website.description }}">
    <meta name="author" content="{{ website.author }}">
</head>

<body>
    {{{ contents }}}

    {{#if watchEnabled }}
        <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</body>

</html>
